server:
  port: 8088

spring:
  datasource:
    url: jdbc:mysql://localhost:13306/tspring?useSSL=false&serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
    username: root
    password: cc961104
    driver-class-name: com.mysql.cj.jdbc.Driver
  thymeleaf:
    prefix:
      classpath: /templates/
    cache: false

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.cc.tspring.entity  # ???????
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
